.start-simulation {
    background-color: green;
    border: none;
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
}

.start-simulation-disabled {
    background-color: green;
    border: none;
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    opacity: 0.5;
}

.stop-simulation {
    background-color: red;
    border: none;
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
}

.stop-simulation-disabled {
    background-color: red;
    border: none;
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    opacity: 0.5;
}

.pauze-simulation {
    background-color: orange;
    border: none;
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
}

.pauze-simulation-disabled {
    background-color: orange;
    border: none;
    color: white;
    width: 7rem;
    height: 2rem;
    border-radius: 5px;
    opacity: 0.5;
}

.start-simulation:hover {
    background-color: rgb(46, 177, 74)
}

.stop-simulation:hover {
    background-color: rgb(216, 101, 80)
}

.pauze-simulation:hover {
    background-color: rgb(223, 176, 75)
}